extends layout_ui

append styles
  link(rel="stylesheet", href="/css/style_dump_form.css")

block content
  form.form-card.form-add
    div.form-group
      label(for='title')
        span.form-text Title:
      input.form-control.form-title#title(name='title', type='text')
    div.form-group
      label(for='body') 
        span.form-text Body:
      textarea.form-control.textarea#body(name='body')
    div.btn-row
      input.btn.txt-upload(type='file', accept='text/*')
      button.btn.btn-primary(type='submit') Dump

append end-scripts
  script(src="/js/load_text.js")
  script(src="/js/buttons.js")