extends layout_ui

block content
  h1 #{title}
  form(action="/dumps/add", method="post")
    #form-group
      label Title:
      input.form-control(name='title', type='text')
    #form-group
      label Body:
      textarea.form-control(name='body', type='text')
    input.button.button-primary(type="submit", value="Dump")