extends layout

block content
  h1= dump.title
  h5 Written by #{author}
  p= dump.body
  hr
  a.button#button-edit(href='/dumps/edit/'+dump._id) Edit
  a.button#button-delete(href='#', data-id=dump._id) Delete
  script(src="./js/delete.js")