extends layout_ui

block content
  h1 #{title}
  h3 Author: #{author}
  form(action="/dumps/edit/" + dump._id, method="post")
    #form-group
      label Title:
      input.form-control(name='title', type='text', value=dump.title)
    #form-group
      label Body:
      textarea.form-control(name='body', type='text')=dump.body
    input.button.button-primary(type="submit", value="Edit")