extends layout_ui

append styles
  link(rel="stylesheet", href="/css/style_dump_form.css")

block content
  form.form-card(action="/dumps/edit/" + dump._id, method="post")
    div.form-group
      label(for='title')
        span.form-text Title:
      input.form-control.form-title#title(name='title', type='text', value=dump.title)
    div.form-group
      label(for='body') 
        span.form-text Body:
      textarea.form-control.textarea#body(name='body')= dump.body
    div.btn-row
      input.btn.txt-upload(type='file', accept='text/*')
      button.btn.btn-primary(type='submit') Confirm
      if !dump.deleted
        if dump.favorite
          a.btn.btn-primary.btn-star.starred(href='#', data-id=dump._id) 
            i.fas.fa-star
        else 
          a.btn.btn-primary.btn-star(href='#', data-id=dump._id) 
            i.fas.fa-star

append end-scripts
  script(src="/js/load_text.js")
  script(src="/js/buttons.js")