extends layout

block content
    h1 #{title}
    table.dumps-table
      tr
        th Name
        th Author
        th Body (WIP)
      each dump, i in dumps
        tr
          td 
            a(href="/dumps/"+dump._id) #{dump.title}
          td #{dump.author}
          td #{dump.body}