<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title TextDump
    block head-scripts
      script(src="https://kit.fontawesome.com/8b7c12c2ba.js" crossorigin="anonymous")
    block styles
      link(href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet")
      link(rel="stylesheet" type="text/css" href="/css/style.css")
  body.page-grid
    block main-content
      main.main-container
        if title
          h1.title= title
        .message-container!= messages('message', locals)
          if errors
            each error, i in errors
              div(class="alert alert-error") 
                i.fas.fa-times-circle  
                span #{error.msg}
        block content
    block end-scripts
