doctype html
html
  head
    title TextDump
  body
    if user
      p Logged in
    else
      p No user
    != messages('message', locals)
    if errors
      each error, i in errors
        div(class="alert alert-danger") #{error.msg}
    block content
    footer
      p Copyright &copy, 2019
