extends layout_ui

append styles
    link(rel="stylesheet", href="/css/success.css")

append end-scripts
    script.
        setTimeout(() => {
            window.location = '/dumps';
        }, 2000);