/* Page layout */
.page-grid {
    display: grid;
    grid-template-areas: 
        "header header"
        "nav main";
    grid-template-rows: 8rem 1fr;
    grid-template-columns: 16rem 1fr;
}

/* Header Layout */
.header-top {
    grid-area: header;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-button {
    font-size: 1.5rem;

    padding: 1rem;
    border: 1px solid #e9e9e9;
    border-radius: 3rem;
    margin-right: 1rem;
    box-shadow: 0 0 10px #dbdbdb;

    background-color: #ffffff;
    transition: background-color 200ms linear, box-shadow 200ms linear;
}

.user-button:hover {
    box-shadow: 0 0 10px 3px #dadada; 
    background-color: #f9f9f9;
    cursor: pointer;
}

.user-button:focus {
    outline: none;
    background-color: #f1f1f1;
}

.dropdown-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;

    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;

    list-style-type: none;
    
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 0.5rem;
    
    display: none;
    right: 1rem;


    cursor: auto;
}

.user-button:focus-within ~ ul, .dropdown-menu:hover {
    visibility: visible;
    opacity: 1;
    display:block;
    box-shadow: 0 0 10px 2px #dadada; 
    background-color: white;
}

.dropdown-menu-item {
    padding-top: 1rem;
}

.dropdown-menu-item:first-child {
    font-size: 2rem;
    font-weight: bolder;
}

.dropdown-menu-item:nth-child(2) {
    padding-top: 0;
}

/* Logo block */
.logo-container {
    display: inline-flex;
    height: 7rem;
    align-items: center;
    margin-right: 1rem;
}

.logo-img-ui {
    height: 100%;
}


.logo-text {
    display: inline-block;
    vertical-align: center;
    font-size: 2rem;
    font-weight: bold;
}


.main-container {
    grid-area: main;
}


/* Sidebar Menu */
.sidebar-left {
    grid-area: nav;
    padding-top: 3rem;
    padding-right: 2rem;
    border-right: 1px solid #dbdbdb;
}

.sb-menu-container {
    height: 100%;
    color: #4e4e4e;
    display: flex;
    flex-direction: column;
}

.sb-menu-item {
    display: grid;
    grid-template-areas: 
        "icon text";
    grid-template-columns: 20% 1fr;

    color: inherit;
    text-decoration: inherit;
    font-size: 1.5rem;

    padding: 1rem 0 1rem 1rem;
    border-radius: 0 2rem 2rem 0;
}
.sb-menu-item:hover {
    background-color: #f0f0f0;
}

.sb-icon {
    grid-area: icon;
    text-align: center;
    vertical-align: bottom;
}

.sb-text {
    grid-area: text;
    margin-left: 0.625rem;
}

.sb-menu-plus {
    font-size: 1.8rem;
    
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
    border-radius: 3rem;
    border: 1px solid #e9e9e9;

    margin-left: 0.5rem;
    margin-bottom: 1rem;
    
    box-shadow: 0 0 10px #dbdbdb;
    transition: background-color 200ms linear, box-shadow 200ms linear;
}


.sb-menu-plus:hover {
    box-shadow: 0 0 16px 5px #dadada; 
    background-color: #f9f9f9;
}

.sb-menu-plus:focus {
    outline: none;
    background-color: #f1f1f1;
}

.no-hover{
    pointer-events: none;
}

.sep-bar {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #dbdbdb;
}

.bar-container {
    position: relative;
    width: 100%;
}

.bar-grey {
    border-top: 4px solid #eaeaea;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.bar-progress {
    border-top: 4px solid #3b92f5;
    position: absolute;
    top: 0;
}

.bar-progress-description {
    font-family: sans-serif;
    font-size: 1.25rem;
}

@media (max-width: 768px) {
    .page-grid {
        grid-template-areas: 
            "header"
            "nav"
            "main";
        grid-template-rows: 1fr 1fr 4fr;
        grid-template-columns: 1fr;
    }

    .main-container {
        height: 100vh;
    }
    .sidebar-left {
        padding-top: 1rem;
        padding-right: 0;
        border-right: 0;
        border-bottom: 1px solid #dbdbdb;
    }

    .sb-menu-container {
        align-items: center;
    }

    .sb-menu-item {
        width: 40%;
        padding: 0.5rem;
        border-radius: 2rem;
    }

    .sb-menu-plus {
        width: 50%;
    }

    .sb-text {
        text-align: left;
    }
}