.title {
    margin-left: 1rem;
}

.form-group {
    margin: 1rem;
}

.form-text {
    display: inline-block;

    font-size: 1.5rem;

    margin-left: 1rem;
    margin-bottom: 0.1rem;
}

.form-control {
    display: block;
    width: 100%;

    padding: .375rem 1rem;
    line-height: 1.5;

    font-size: 1rem;

    border: 1px solid #ced4da;
    border-radius: 2rem;

    transition: box-shadow 0.1s ease-in-out;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 0.1rem #88d3ff;
}

.btn-row {
    display: flex;
    flex-wrap: wrap;
    width: auto; 
    margin: auto 1rem;
    margin-top: -1rem;
    justify-content: flex-start;
    align-items: center;
}

.btn {
    margin-top: 1rem;
}

.form-title {
    width: 30rem;
    max-width: 100%;
}

.textarea {
    border-radius: 0.3rem;

    resize: vertical;

    width: 100%;
    min-width: 25rem;
    
    min-height: 200px;
    overflow-x: auto;

    font-size: 1.2rem;
}

.btn-star {
    transition: color 0.1s ease-in-out;
}

.starred {
    color: #f5d000;
}
